.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  max-width: 1440px;
  margin: 0 auto;
  list-style: none;
}
.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
  max-width: 360px;
}
.gallary-image {
  width: 360px;
  height: 200px;
}
